body, html{
  height: 100%;
}

body{
  position: relative;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  background-color: beige;
}

h1{
  text-align: center;
  font-size: 50px;
  font-family: 'Verdana', sans-serif;
  text-transform: uppercase;
  color: #1e5782;
  text-shadow: 1px 1px 5px grey;
}

svg{
  width: 90%;
  display: block;
  margin: 0 auto;
  margin-top: 7%;
  border-radius: 10px;
  box-shadow: 1px 1px 10px grey;
  margin-bottom: 30px;
}

form{
  text-align: center;
  font-family: 'Verdana', sans-serif;
  color: #122e79;
}

input{
  border: 2px solid #122e79;
  border-radius: 5px;
  padding: 5px;
  margin: 10px auto;
}

footer{
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  bottom: 10px;
  font-family: 'Verdana', sans-serif;
  color: #122e79;
}

footer a {
  text-decoration: none;
  color: #122e79;
}

footer a:hover{
  text-decoration: underline;
}
